<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name %> <br/>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :department, "Supervising Department" %> <br/>
  <%= f.collection_select(:department_id, Department.all, :id, :name,
                          options ={:prompt => current_department(@job)}) %>
  <br/>
</div>