<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
      <%= link_to "Edit User", edit_user_path %>
    </td>
    <td class="sidebar">
      <strong>Name</strong> <%= @user.name %> <br/>
      <strong>Email</strong> <%= @user.email %> <br/>
      <strong>Pay Sheets </strong> <%= link_to "Add", new_pay_sheet_path if current_user?(@user)%> <br />
      <% unless @user.pay_sheets.empty? %>
          <ul class="pay_sheets">
            <% @user.pay_sheets.each do |pay_sheet| %>
                <li>
                    <%= render "pay_sheets/pay_sheet", :pay_sheet => pay_sheet %>
                </li>
            <% end %>
          </ul>
      <% end %>
    </td>
  </tr>
</table>