<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name %> <br/>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :supervisor %> <br/>
  <%= f.collection_select(:supervisor_id, User.supervisors, :id, :name,
                          options ={:prompt => current_supervisor(@pay_sheet)}) %>
  <br/>
</div>