<!DOCTYPE html>
<html>
<head>
  <title>Victoria University Libraries Student Pay | <%= @title %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
